@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.landing-page {
  display: flex;
  width: 375%;
  height: 48px;
}

.logo {
  margin: 58px 24px 28px 24px;
  padding-left: 24px;
}

.logo a {
  text-decoration: none;
  width: 76px;
  height: 20px;
  color: #6070ff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu {
  display: flex;
  height: 24px;
  align-items: flex-end;
  justify-content: end;
  margin: -45px 32px 0 300px;
}


.home-page {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  height: 718px;
  background-image: url("images/header-shapes\ mobile.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.heading {
  width: 327px;
  height: 150px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  margin: 100px 24px 12px 24px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 10px;
}

.intro {
  display: flex;
  width: 327px;
  height: 146px;
  margin: 12px 24px 6px 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 10px;
}

.ctn {
  margin: -10px 34px 6px 28px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
}

.social {
  margin: 6px 180.8px 136px 14px;
  display: flex;
  padding: 10px;
}

.social li {
  padding: 10px;
  list-style: none;
}

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  background: #e5e5e5;
  width: 375px;
  height: 2788px;
}

.profile {
  box-sizing: border-box;
  position: relative;
  bottom: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  margin: auto;
  width: 327px;
  height: 100%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 114px;
}

.tonic {
  display: grid;
  grid-template-columns: 100%;
}

.tonic h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tonic-list ul {
  display: flex;
  justify-content: space-between;
  grid-row-start: unset;
}

.language-section li {
  list-style: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.js-section li {
  list-style: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frame-works li {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-left: 36px;
}

.tonic-list ul li {
  list-style: none;
}

.cano {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back-end {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.profile-message {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 20px;
  color: #344563;
}

.technologie {
  display: flex;
}

.technologie ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.technologie ul li {
  list-style: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  margin-top: 12px;
  background: #ebebff;
  border-radius: 8px;
}

.technologie ul li a {
  text-decoration: none;
  color: #6070ff;
}

.btn1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ebebff;
  margin-top: 28px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btn1 button {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: hidden;
  color: #396df2;
}

/* about myself */
.about {
  width: 100vw;
  height: 1263px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  margin-top: 130px;
}

.resume-btn {
  margin: -160px 0 0 24px;
  padding: 10px;
}

.resume-btn button {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  color: #396df2;
  width: 162px;
  height: 48px;
  font-size: 17px;
  line-height: 24px;
}

.resume-btn button:hover {
  background-color: #396df2;
  color: #cfd8dc;
}

.language-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.language-section p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 60px 0 36px 36px;
  display: flex;
  align-items: center;
  height: 24px;
  width: 237px;
  color: #000;
}

.language-section img {
  display: flex;
  margin: 70px 64px 45px 26px;
}

.language-icons ul li {
  list-style: none;
}

.js-section {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  margin: 24px 24px 0 0;
  width: 327px;
  height: 248.15px;
}

.js {
  display: flex;
  align-items: center;
  margin-right: 16px;
  width: 303px;
  height: 66.72px;
  margin-left: 10px;
  background: #f7f7f9;
  border-radius: 8px;
}

.js img {
  margin: 9px 16px 9px 12px;
}

.js p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frame-works {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.frame-works img {
  margin-left: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact p {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 327px;
  height: 102px;
  order: 0;
  text-align: center;
  color: #ebebff;
  align-items: center;
  justify-content: center;
}

.frame-works li p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 237px;
  height: 24px;
}

hr {
  background: #dfe1e6;
  margin: 24px 24px;
  width: 350px;
}

.contact-me {
  display: flex;
  height: 800px;
  background-color: #396df2;
  background-image: url("images/header-shapes-mobile2.png");
  background-size: cover;
  flex-direction: column;
  width: 100%;
  border-top-left-radius: 80px;
}

.contact h1 {
  display: flex;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 24px;
  text-align: center;
  color: #fff;
  margin-top: 100px;
  justify-content: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  width: 327px;
}

.form-section input {
  display: flex;
  background: #fff;
  height: 48px;
  width: 327px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 10px 24px 24px 10px;
}

.form-section textarea {
  display: flex;
  background: #fff;
  height: 170px;
  width: 327px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#button2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 150px;
  height: 48px;
  background: #ebebff;
  margin-top: 28px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: -150px;
}

#button2 :hover {
  background-color: #396df2;
  color: #cfd8dc;
  transition: 0.5s;
}

.end {
  display: flex;
  position: relative;
  width: 134px;
  height: 4px;
  align-items: center;
  color: #000;
  background: #0d151e;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  margin: auto;
}
@media screen and (max-device-width: 780px) {
.about{
  width: 390px;
}
  .desk{
  display: none;
}
.mo-links{
  display: none;
}
.desk2{
  display: none;
}
.face1{
  display: none;
}
.full4{
  display: none;
}
.pra3{
  display: none;
}
.desk3{
  display: none;
}
.face5{
  display: none;
}
.full4{
  display: none;
}
.pra5{
  display: none;
}
.des6{
  display: none;
}
.uber4{
  display: none;
}
.uber2{
  display: none;
}

.lead{
  display: none;
}
.year8{
  display: none;
}
 .heading2 h1{
width: 327px;
height: 101px;
margin-left: 24px;
font-family: 'Poppins' ,sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
margin-top: 114px;
display: flex;
align-items: center;


color: #172B4D;

 }

 .intro2{
  width: 327px;
height: 144px;
margin-left: 24px;
font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;

 }
.ctn2{


font-family: Poppins,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin-left: 24px;
color: #7F8CFF;


}
 .social2{
  display: flex;
  margin-left: 14px;
 }
 .social2 li{
  list-style: none;
  padding: 10px;
 }

 .resume-btn2 .btn2{

  border: 1px solid #6070FF;
  border-radius: 8px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
width: 162px;
height: 48px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
margin-left: 24px;
color: #396DF2;

 }
 .form-section input{
  width: 327px;
  height: 48px;


border-radius: 8px;

 }
 .contact-me{
  width:400px;
 }
}

@media screen and (min-device-width: 780px) {
.landing-page{
 width: 100%;
}
.logo{
  position: relative;
  left: 1px;
  top: -50px;
  width: 76px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;




color: #6070FF;
}
  .menu{
  display: none;
}
.nav-links{
  flex: 1;
  text-align: right;
  position: absolute;
  left: 1251px;
 
}
.nav-links ul{
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.nav-links ul li{
  list-style: none;
  display: flex;
  padding: 8px 12px;
  position: relative;
  color: rgb(87, 91, 179);
}
.nav-links ul li a{
  color: rgb(114, 173, 215);
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  
  width:0% ;
  height: 2px;
  background:rgb(98, 225, 223);
  display: block;
  margin: auto;
  transition: 0.2s;
}
.nav-links ul li:hover::after{
  width:100% ;  
}
.nav-bar{
  display: flex;
}

.home-page{
  width: 100%;
  background-image: url("images/contact\ form\ background.png");
  background-size: cover;
  border-bottom-left-radius: 70px;
}
.heading{
  
width: 920px;


margin-left: 260px;

}

.intro{
width: 920px;
margin-top: -70px;
margin-left: 260px;
}
.ctn{
  margin-left: 260px;
  margin-top: -100px;
}
.ctn a{
text-decoration: none;
width: 117px;
height: 24px;

font-family: Poppins,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #7F8CFF;
}
.social{
  margin-left: 245px;
  margin-top: -20px;
}
.work-section{
  display: flex;
  width: 100%;
}
.profile{
  width: 1156px;
  display: flex;
}


.tonic{
  display: grid;
  grid-template-columns:70% 50%;
  margin-left: 0;
}

.mobile-image{
  display: none;
}
.desk{
position: absolute;
width: 544px;
height: 448px;
left: 24px;
top: 24px;
}
#image1{
  position: absolute;
  order: 1;
  justify-content: flex-start;
}
.image1{
position: absolute;
width: 544px;
height: 448px;
left: 24px;
top: 24px;
order: 1;
}
.mobi3{
  display: none;
}
.mobi4{
  display: none;
}

.tonic-list{
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  position: absolute;
  width: 544px;
  height: 370px;
  left: 610px;
  top: 48px;
  order: 0;
}
.tonic-list ul{
  margin-bottom: -18px;
  margin-left: -5px;

}
.tonic-list ul li{
  margin: 5px;

}
.cano4{
  display: none;
}
.back4{
  display: none;
}
.profile2{
  display: flex;
  margin-left: 80px;
}
.mobile-img2{
  display: none;
}
.tonic2{
  display: grid;
  grid-template-columns:70% 50%;
  margin-left: 0;
width: 544px;
height: 448px;
left: 24px;
top: 24px;
}
.mult4{
  display: none;
}
.canoz{
  display: none;
}
.can5{
  display: none;
}
.year4{
  display: none;
}
.para3{
  display: none;
}
.Tonic5{
  display: none;
}
.tonic-list2{
  display: flex;
  flex-direction: column;
  
  padding: 12px;
 
  width: 544px;
  height: 370px;
  left: 340px;
  
}
.heading2{
  margin: 142px 20px 20px 142px;
  width: 447px;
height: 392px;
  
  padding: 0px;
  gap: 24px;
  
  
  

}
.heading2 h1{
font-family: Poppins, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
margin-bottom: 12px;

display: flex;
align-items: center;


color: #091E42;
}
.intro2{
  font-family: Poppins, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 12px;

color: #344563;
width: 447px;
height: 102px
}
.ctn2{
  font-family: Poppins, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin-bottom: 12px;

color: #7F8CFF;
}
.social2{
  display: flex;
  margin-bottom: 12px;
}
.social2 li{
  list-style: none;
  list-style: none;
margin-right: 10px;
}
.resume-btn2 .btn2{
  width: 138px;
height: 48px;

border: 1px solid #6070FF;
border-radius: 8px;

font-family: Poppins,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 17px;

color: #396DF2;
}
.tonic-list2{
display: flex;
flex-direction: column;
align-items: center;
padding-left: 35px;
margin-left: 50px;
margin-top: 140px;
width: 684px;
height: 360px;

}
.language-section{
 
  height: 24px;
  
 

  font-family: Poppins,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  
 
  align-items: center;

  
  color: #344563;

}
.language-section li img{
  margin-left: 50px;
}
.js-section{
  display: flex;
  flex-direction: row;
}
.js-section .js{
  width: 122px;
height: 120px;
  display: flex;
  flex-direction: column;
}
.js-section li img{
 display: flex;
 flex-direction: column;
}
.js img{
  display: flex;
  flex-direction: column;
}
.frame{
  margin-top: -100px;
}
.about{
 margin-bottom: -700px;
 margin-top: 0;
}
.contact-me{ 
  position: relative;
  background-color: #6070FF;
  background-image: url("images/contact\ form\ background.png");

}




}