*{
    margin: 0;
    padding: 0;
    

}
.nav-bar{
    display: flex;
    
}

.logo{
    margin: 58px 24px 24px 24px;
}
.logo a{
    text-decoration: none;
    font-size: 18px;
}
.nav-bar .menu{
    width: 24px;
    height: 24px; 
    margin: 56px 32px 0 219px;
    justify-content: flex-end;
}
.menu img{
    
}